*.pyc
*.sav
*.map
.idea/
roboc/Tests/.cache/
roboc/Tests/.coverage
roboc/Tests/__pycache__/
roboc/Tests/htmlcov/
roboc/__pycache__/
webscraper/Tests/.cache/
webscraper/Tests/.coverage
webscraper/Tests/__pycache__/
webscraper/Tests/htmlcov/
webscraper/__pycache__/

/LCD/LCD/x64/Release
/LCD/.vs/LCD/v16
/LCD/x64/Release/LCD.pdb
/LCD/x64/Release/LCD.ipdb
/LCD/x64/Release/LCD.iobj
/LCD/x64/Release/LCD.exe
