*.pyc
*.sav
*.map
.idea/
roboc/Tests/.cache/
roboc/Tests/.coverage
roboc/Tests/__pycache__/
roboc/Tests/htmlcov/
roboc/__pycache__/
xmco/Tests/.cache/
xmco/Tests/.coverage
xmco/Tests/__pycache__/
xmco/Tests/htmlcov/
xmco/__pycache__/

